<table>
	<th>
			<td>
				Tweet
			</td>
			<td>
				Time
			</td>
			<td>
				Delete
			</td>
	</th>
	{% for tweet in hashtags %}
	<tr>
		<td>
			{{ tweet['Tweet'] }}
		</td>
		<td>
			{{ tweet['TimeStamp']['$date'] }}
		</td>

		<td>
			<form action="/delete" method="get">
				<input type="text" name="id" hidden value="{{tweet['_id']['$oid']}}"><br>
				  <button type="submit">Delete</button><br>

			</form>
			
		</td>
	</tr>
	{% endfor %}
</table>


